# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        advancedrocketry:airlock_door
        advancedrocketry:oxygenDetection
        quark:obsidian_pressure_plate
        quark:nether_brick_fence_gate
        basemetals:adamantine_door
        basemetals:aquarium_door
        basemetals:brass_door
        basemetals:bronze_door
        basemetals:coldiron_door
        basemetals:copper_door
        basemetals:cupronickel_door
        basemetals:electrum_door
        basemetals:invar_door
        basemetals:lead_door
        basemetals:mithril_door
        basemetals:nickel_door
        basemetals:platinum_door
        basemetals:silver_door
        basemetals:starsteel_door
        basemetals:steel_door
        basemetals:tin_door
        basemetals:human_detector
        biomesoplenty:sacred_oak_fence_gate
        biomesoplenty:cherry_fence_gate
        biomesoplenty:umbran_fence_gate
        biomesoplenty:fir_fence_gate
        biomesoplenty:ethereal_fence_gate
        biomesoplenty:magic_fence_gate
        biomesoplenty:mangrove_fence_gate
        biomesoplenty:palm_fence_gate
        biomesoplenty:redwood_fence_gate
        biomesoplenty:willow_fence_gate
        biomesoplenty:pine_fence_gate
        biomesoplenty:hellbark_fence_gate
        biomesoplenty:jacaranda_fence_gate
        biomesoplenty:mahogany_fence_gate
        biomesoplenty:ebony_fence_gate
        biomesoplenty:eucalyptus_fence_gate
        biomesoplenty:sacred_oak_door_block
        biomesoplenty:cherry_door_block
        biomesoplenty:umbran_door_block
        biomesoplenty:fir_door_block
        biomesoplenty:ethereal_door_block
        biomesoplenty:magic_door_block
        biomesoplenty:mangrove_door_block
        biomesoplenty:palm_door_block
        biomesoplenty:redwood_door_block
        biomesoplenty:willow_door_block
        biomesoplenty:pine_door_block
        biomesoplenty:hellbark_door_block
        biomesoplenty:jacaranda_door_block
        biomesoplenty:mahogany_door_block
        biomesoplenty:ebony_door_block
        biomesoplenty:eucalyptus_door_block
        sonarcore:ReinforcedStoneGate
        sonarcore:ReinforcedStoneBrickGate
        sonarcore:ReinforcedDirtGate
        sonarcore:ReinforcedDirtBrickGate
        darkutils:timer
        darkutils:update_detector
        darkutils:sneaky_lever
        darkutils:sneaky_plate
        davincisvessels:crate_wood
        storagedrawers:keybutton
        enderio:blockSelfResettingLever10
        enderio:blockSelfResettingLever30
        enderio:blockSelfResettingLever60
        enderio:blockSelfResettingLever300
        enderio:blockPaintedFenceGate
        endertanks:blockEnderTank
        modernmetals:aluminum_door
        modernmetals:aluminumbrass_door
        modernmetals:cadmium_door
        modernmetals:chromium_door
        modernmetals:galvanizedsteel_door
        modernmetals:iridium_door
        modernmetals:magnesium_door
        modernmetals:manganese_door
        modernmetals:nichrome_door
        modernmetals:osmium_door
        modernmetals:plutonium_door
        modernmetals:rutile_door
        modernmetals:stainlesssteel_door
        modernmetals:tantalum_door
        modernmetals:titanium_door
        modernmetals:tungsten_door
        modernmetals:uranium_door
        modernmetals:zirconium_door
        ic2:reinforced_door
        advgenerators:Control
        tconstruct:slime_channel
        malisisdoors:wood_sliding_door
        malisisdoors:iron_sliding_door
        malisisdoors:jail_door
        malisisdoors:laboratory_door
        malisisdoors:factory_door
        malisisdoors:shoji_door
        malisisdoors:curtain_white
        malisisdoors:curtain_orange
        malisisdoors:curtain_magenta
        malisisdoors:curtain_light_blue
        malisisdoors:curtain_yellow
        malisisdoors:curtain_lime
        malisisdoors:curtain_pink
        malisisdoors:curtain_gray
        malisisdoors:curtain_silver
        malisisdoors:curtain_cyan
        malisisdoors:curtain_purple
        malisisdoors:curtain_blue
        malisisdoors:curtain_brown
        malisisdoors:curtain_green
        malisisdoors:curtain_red
        malisisdoors:curtain_black
        malisisdoors:customDoor
        malisisdoors:saloon
        malisisdoors:verticalHatch
        malisisdoors:camoFenceGate
        mob_grinding_utils:fan
        mob_grinding_utils:saw
        mob_grinding_utils:xp_tap
        refinedstorage:detector
        randomthings:onlineDetector
        randomthings:chatDetector
        randomthings:contactButton
        randomthings:contactLever
        randomthings:igniter
        simplyconveyors:conveyor_slow
        simplyconveyors:conveyor_intermediate
        simplyconveyors:conveyor_fast
        simplyconveyors:conveyor_vertical_slow
        simplyconveyors:conveyor_vertical_intermediate
        simplyconveyors:conveyor_vertical_fast
        simplyconveyors:conveyor_vertical_slow_down
        simplyconveyors:conveyor_vertical_intermediate_down
        simplyconveyors:conveyor_vertical_fast_down
        simplyconveyors:conveyor_inverse_slow
        simplyconveyors:conveyor_inverse_intermediate
        simplyconveyors:conveyor_inverse_fast
        simplyconveyors:conveyor_advanced_slow
        simplyconveyors:conveyor_advanced_intermediate
        simplyconveyors:conveyor_advanced_fast
        simplyconveyors:conveyor_advanced_inverse_slow
        simplyconveyors:conveyor_advanced_inverse_intermediate
        simplyconveyors:conveyor_advanced_inverse_fast
        simplyconveyors:conveyor_modular_slow
        simplyconveyors:conveyor_modular_intermediate
        simplyconveyors:conveyor_modular_fast
        simplyconveyors:conveyor_modular_inverse_slow
        simplyconveyors:conveyor_modular_inverse_intermediate
        simplyconveyors:conveyor_modular_inverse_fast
        simplyconveyors:conveyor_stair_slow
        simplyconveyors:conveyor_stair_intermediate
        simplyconveyors:conveyor_stair_fast
        simplyconveyors:upgrade_conveyor_fastest
        simplyconveyors:upgrade_conveyor_dropper
        simplyconveyors:upgrade_conveyor_holding
        simplyconveyors:upgrade_conveyor_vertical_fastest
        simplyconveyors:upgrade_conveyor_vertical_fastest_down
        simplyconveyors:upgrade_conveyor_backwards_slow
        simplyconveyors:upgrade_conveyor_backwards_fast
        simplyconveyors:upgrade_conveyor_backwards_fastest
        simplyconveyors:upgrade_conveyor_stair_fastest
        simplyconveyors:upgrade_conveyor_backwards_holding
        simplyconveyors:upgrade_conveyor_transporter
        simplyconveyors:upgrade_conveyor_foam_slow
        simplyconveyors:upgrade_conveyor_foam_fast
        simplyconveyors:upgrade_conveyor_foam_fastest
        simplyconveyors:upgrade_conveyor_spike_slow
        simplyconveyors:upgrade_conveyor_spike_fast
        simplyconveyors:upgrade_conveyor_spike_fastest
        stevescarts:BlockAdvDetector
        stevescarts:BlockDetector
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


