\advRocketry
\asm
\backups
\downloads
\emoticons
\enderio
\fonts
\local
\logs
\mapwriter
\moreplayermodels
\null
\resourcepacks
\saves
ReAuth.cfg
minetweaker.log
options.txt
servers.dat
usercache.jason
usernamecache.json
###
\config\LLOverlayReloaded.cfg
\mods\LLOverlayReloaded*
